@import url(myreset.css);

/* ---------------- common elements ----------------- */
body{
   font-family: 'Roboto', sans-serif;
   background: #D6D8E1;
}
.main_title{
   font-size:21px;
   letter-spacing: 1px;
}
.sub_title{
   font-size:21px;
   font-weight: 500;
}
a{
   text-decoration: none;
   color:#3F539C;
}

.main-layout{
   padding-top: 90px;
}
.sub-layout{
   padding-top: 160px;
}
main{
   padding: 15px;
}
.product_list > li{
   border-radius: 5px;
   overflow: hidden;
   margin-bottom: 15px;
}
.product_list .product_list_header{
   background: #3F539C;
   padding: 15px;
}
.product_list footer{
   background: #F1F2F7;
   padding: 15px;
}
.product_list .content{
   padding: 15px;
   background: #fff;
}

/* ---------------- main page ----------------- */
.main-header{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
}
.main-header .header_inner{
   height: 75px;
   background: linear-gradient(#d95e46, #8c3d2d);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:0 15px;
}
.main-header svg{
   color:#fff;
   font-size:21px;
}
.main-header h1{
   color:#fff;
}
.main-header form{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   padding:10px 15px;
   background: rgba(0,0,0,0.7);
   display: flex;
   justify-content: space-between;
   z-index: -1;
}
.main-header form.active{
   top: 100%;
}
.main-header form input{
   line-height: 27px;
   width: calc(100% - 40px);
}
.main-header form button{
   background: none;
   border: none;
   font-size: 21px;
}
.latest li header{
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.latest li header .list_icon{
   margin-right: 15px;
}
.list_title h3{
   color:#fff;
}
.list_title h4{
   color:rgba(255,255,255,.7);
}
.list_title h4 em{
   font-weight: 500;
}
.latest li .content{
   display: flex;
}
.latest li .content .product_brief_desc{
   flex:1.2;
}
.latest li .content .product_img{
   flex:0.8;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 120px;
   background: #F8F8FA;
   border:2px solid #d6d8e2;
   margin-left: 15px;
}
.latest li .content .product_img img{
   width: 100%;
   height: auto;
}
.latest li .content .product_brief_desc p{
   line-height: 27px;
}
.latest li footer{
   display: flex;
   justify-content: space-between;
}
.latest li footer .tag{
   display: flex;
   align-items: center;
}
.latest li footer .tag li{
   margin-right: 30px;
   text-transform: uppercase;
}
.latest li footer form input{
   display: none;
}
.latest li footer form label{
   position: relative;
   color:#DD5E46;
}
.latest li footer form label span:last-child{
   position: absolute;
   top: 0;
   opacity: 0;
}
.latest li footer form input:checked + label span:last-child{
   opacity: 1;
}


/* ---------------- aside ----------------- */
.aside_bg{
   position: fixed;
   left: 0; right: 0; top: 0; bottom: 0;
   background: rgba(0,0,0,0.7);
   opacity: 0;
   transition:0.35s;
   z-index: 10;
   visibility: hidden;
}
.aside_open .aside_bg{
   visibility: visible;
   opacity: 1;
}
aside{
   width: 85%;
   position: fixed;
   left: 0; right: 0; top: 0;
   height: 100vh;
   background: #3F539C;
   z-index: 11;
   display: flex;
   flex-direction: column;
}
aside header{
   background: linear-gradient(#D95E46, #8C3D2D);
   flex:0.5;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
aside header img{
   width: 108px;
   height: 108px;
}
aside header h1{
   color:#fff;
   font-size:21px;
   margin-top: 15px;
}
aside .aside_content{
   flex: 1;
   display: flex;
   align-content: space-between;
   flex-wrap: wrap;
}
aside .aside_content > *{
   width: 100%;
}
.aside_content .categories li{
   height: 76px;
   padding: 0 15px;
   line-height: 76px;
}
.aside_content .categories li:hover{
   background: rgba(0,0,0,.1);
}
.aside_content .categories li a{
   color:#fff;
   display: block;
   border-bottom:1px solid rgba(0,0,0,0.2);
}
.aside_links a{
   color:rgba(255,255,255,0.6);
   font-size:24px;
   position: absolute;
}
.aside_links a span{
   width: 20px;
   height: 20px;
   background: #3F539C;
   border: 1px solid #B2BAD7;
   border-radius: 50%;
   position: absolute;
   right: -10px;
   top: -10px;
   font-size:12px;
   text-align: center;
   line-height: 18px;
}
/* ---------------- category ----------------- */

/* ---------------- details ----------------- */