@import url(myreset.css);

/* ---------------- common elements ----------------- */
body{
   font-family: 'Roboto', sans-serif;
   background: #D6D8E1;
}
.main_title{
   font-size:21px;
   letter-spacing: 1px;
}
.sub_title{
   font-size:21px;
   font-weight: 500;
}
a{
   text-decoration: none;
   color:#3F539C;
}
/* ---------------- main page ----------------- */
.main-header{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
}
.main-header .header_inner{
   height: 75px;
   background: linear-gradient(#d95e46, #8c3d2d);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:0 15px;
}
.main-header svg{
   color:#fff;
   font-size:21px;
}
.main-header h1{
   color:#fff;
}
.main-header form{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   padding:10px 15px;
   background: rgba(0,0,0,0.7);
   display: flex;
   justify-content: space-between;
   z-index: -1;
}
.main-header form.active{
   top: 100%;
}
.main-header form input{
   line-height: 27px;
   width: calc(100% - 40px);
}
.main-header form button{
   background: none;
   border: none;
   font-size: 21px;
}


/* ---------------- aside ----------------- */

/* ---------------- category ----------------- */

/* ---------------- details ----------------- */